body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url(./topography.png);
  background-color: rgba(20, 100, 20, 0.18);
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #472929;
  font-family: 'Poiret One', cursive;
  width: 100%;
  height: 100px;
}

#nav-img-container {
  display: flex;
  margin-left: 40px;
}

#nav-items {
  display: flex;
  margin-right: 40px;
  min-width: 25%;
  justify-content: space-between;
  align-items: center;
}

#nav-items * {
  display: flex;
  text-decoration: none;
  margin-left: 12px;
  font-size: 24px;
  color: #FFFFFF;
}

#nav-items *:hover {
  opacity: 0.5;
}

#nav-items *:active {
  opacity: 0.1;
}

#content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  font-family: 'VT323', monospace;
}

#content-holder * {
  display: flex;
}

#title {
  font-family: 'Poiret One', cursive;
}

#profile-pic {
  width: 150px;
  height: 150px;
  border: 2px solid #1B446E;
  border-collapse: collapse;
  border-radius: 75px;
  overflow: hidden;
}

.cat {
  width: 4%;
}

@media screen and (max-width: 500px) {
  #navbar {
    flex-direction: column;
    height: 150px;
  }
  #navbar * {
    margin: 0 auto;
    flex-direction: column;
  }
  #nav-items * {
    margin: 0 auto;
    margin-top: 2px;
  }
}