.header{
    display:flex;
    background-color: #333333;
    align-items: center;
    }

.header-links{
    padding: 10px;
    margin-right: 10px;
    width: 80%;
    text-align: right;
}

.apertureSymbol{
    padding: 10px;
    width: 20%;
    margin-left: 150px;
}

.headerLinkHome, .headerLinkWiki, .headerLinkGithub, .headerLinkLikedin{
    font-family: "Montserrat";
    color: deeppink;
    text-transform: uppercase;
    padding: 10px;
}

.headerLinkHome:hover, .headerLinkWiki:hover, .headerLinkGithub:hover, .headerLinkLikedin:hover{
    text-decoration: underline;
}

body{
    font-size: 140%;
    background-image: url("./topography.png");
    background-color: rgba(20, 100, 20, 0.18);
    margin: 0px;
}
.mainText{
    padding: 0% 10% 0% 10%;
}
p {
    font-family: "Montserrat"
}

.firstJustify
{
font-family: Consolas, Courier;
text-align: justify;
}

.ownName{
font-weight: bolder;
padding: 4% 0% 0% 0%;
}

.fullStackDev{
color: deeppink;
}

.divideSymbol{
text-align: center;
text-shadow: #4e4e4e 0 2px;
padding: 2%;
word-spacing: 10px;
}

.techWiki{
text-align:center;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }